
$OpenSans: 'Open Sans', Helvetica, sans-serif;
$Signika: 'Signika', Helvetica, sans-serif;
$MavenPro: 'Maven Pro', Helvetica, sans-serif;


@mixin headerfont
{
	font-family: $Signika;
}
@mixin paragraphfont
{
	font-family: $OpenSans;
}
@mixin linkfont
{
	font-family: $Signika;
}