@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin primarybutton{
	display:block;
	background: $buttoncolor;
	color: #FFF;
	box-shadow: 0px 5px 10px -5px black;
	outline:none;
	border:none;
	@include linkfont;
	&:hover
	{
		background: lighten($buttoncolor, 5)
	}
	&:active
	{
		background: darken($buttoncolor, 5);
		box-shadow: 0px 0px 0px -5px black;
	}
}