@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?c8qcv5');
  src:  url('../fonts/icomoon.eot?c8qcv5#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?c8qcv5') format('truetype'),
    url('../fonts/icomoon.woff?c8qcv5') format('woff'),
    url('../fonts/icomoon.svg?c8qcv5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}