.pricing
{
	background: $pageaccent;
	box-shadow: 0px 0px 30px 5px black;
	h1
	{
		@include headerfont;
		text-align:center;
		padding: 1em 0;
		color: white;
		text-shadow: 0 0 10px black;
	}
	&>ul
	{
		@include display(flex);
		@include justify-content(space-around);
		list-style-type: none;
		padding:10px;
		padding-bottom: 4em;
		@media (max-width: 580px)
		{
			display: block;
		}	
		&>li
		{
			@media (max-width: 580px)
			{
				margin: 20px auto;
				margin-bottom: 40px;
				padding-bottom: 20px;
				width: 80%;
			}	
			width: 400px;
			background: lighten($pageaccent, 25);
			box-shadow: 0px 0px 30px 0px black;
			h3
			{
				margin:0;
				@include headerfont;
				font-size: 2em;
				text-align:center;
				padding-top:1em;
				padding-bottom: 0.3em;
			}
			p
			{
				padding: 10px 20px;
				text-align:left;
				@include paragraphfont;
				font-size: 1em;
			}
			ul
			{
				@include paragraphfont;
				font-size: 1.2em;
				padding-left: 60px;
				li
				{
					line-height: 1.6em;
				}
			}
			button
			{
				@include primarybutton;
				padding:10px 20px;
				margin: 20px auto 20px auto;
				width: 80%;
			}
		}
		@include clearfix;
	}
}