.references
{
	h2
	{
		@include headerfont;
		font-size: 2.2em;
		padding-top:1em;
		text-align:center;
	}
	ul
	{
		list-style-type: none;
		width:100%;
		li
		{
			margin: 40px auto 80px auto;
			width: 90%;
			.quote
			{
				position:relative;
				display: block;
				text-align: center;
				background: #E4E4E4;
				padding: 60px;
				padding-right: 100px;
				margin-top: 10px;
				font-style: italic;
				@include paragraphfont;
				font-size: 1.2em;
				.person
				{	
					border-radius: 50%;
					border: 6px solid $pageaccent;
					margin: 0;
					@include size( 100px);
					position:absolute;
					left: 1em;
					bottom:0;
					@include transform(translateY(50%));
				}
			}
			&:nth-child(even) .person
			{
				left: unset;
				right: 1em;
			}
			@include clearfix;
		}
	}
	
}